
.body{

}

.logo{
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  color: blue;
}

.icon-div{

  margin-left: 15px ;
  margin-right: 15px;
  margin-top: 9px;
  float: left;

}

.icon-div-item{

  margin-left: 7px ;
  margin-right: 15px;
  margin-top: 0px;
  float: left;

}

.icon-div-display{
  display: none;

}

.icon-clock{
  color: grey;
  font-size: 16px;
}
.icon{
  color: grey;
  font-size: 21px;


}

.bar{
  box-shadow:0 1px 6px 0 rgba(32, 33, 36, .28);
  margin:0 auto;
  width:570px;

  border-radius:24px;
  border:1px solid #dcdcdc;
  border-collapse: separate;
  overflow: hidden;
}
.bar:hover{

}
.bar:focus-within{



  outline:none;
  border-radius: 18px;


  //border-bottom: 1px solid #dcdcdc;
  //border-bottom-width: 400px;
  overflow: hidden;
}
.searchbar{
  height:40px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;



}
.voice{
  height:18px;
  width: 12px;
  position:relative;
  top:5px;
  left:-20px;
}


.item{
  padding: 10px;
  font-family: sans-serif;
}


.item:focus {
  background: #C2C2C2;
  outline: none;


}






