
.logo{
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  color: blue;
}

.icon{
  color: grey;
  margin-left: 10px ;
  margin-right: 3px;
}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;

}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}


.dropdown{
  position: absolute;
  z-index: 1;
  width: 570px;

  max-height: 300px;
  overflow-y: auto;
  background: white;
  border-radius:10px;
  border:1px solid #dcdcdc;
}

.item{
  padding: 10px;
  font-family: sans-serif;
}

.item:hover{
  background: #C2C2C2;
}

