$clrFocus : #ECECEC;
$clrHover : #d3d3d3;
$clrIcon : grey;
$clrBorder : #dcdcdc;

.bar{
  background-color: white;
  position: fixed;

  width:750px;
  border-radius:0.6rem 0.6rem;;
  margin-top: -2px;
  border-collapse: separate;
  overflow: hidden;
  z-index: 2;
  background: #F1F3F4;
  &:focus-within{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  }




}

@mixin iconMargins($margin-left, $margin-right, $margin-top){
  margin-left: $margin-left ;
  margin-right: $margin-right;
  margin-top: $margin-top;
}

.logo{
  @include iconMargins(auto, auto, 8em);
  width: 100px;

}

.icon-div{
  @include iconMargins(15px, 15px, 9px);
  float: left;

}

.icon-div-left-item{
  @include iconMargins(7px, 15px, 0px);
  align-self: left;

}

.icon-div-right-item{
 @include iconMargins(auto, 15px, 0px);
}

.icon-div-display{
  display: none;
}

.icon-clock{
  color: $clrIcon;
  font-size: 16px;
}



.icon-clear{
  cursor: default;
  font-size: 16px;
  margin-left: 2px;
  margin-top: 2px;
  z-index: 2;

}

.icon-surround{

  height:20px;
  width: 20px;

  &:hover{
    background: $clrHover;
    border-radius: 50%;
  }

}

.icon{
  color:$clrIcon;
  font-size: 24px;
  color: #5f6368;
  margin-top: 3px;
}

.semi-border{
  border-top: 1px solid #bdc1c6;
  margin: 0 14px;
  padding-bottom: 4px;

}



.searchbar{
  height:40px;
  border:none;
  width:600px;
  font-size:16px;
  outline: none;
  background: #F1F3F4;



}
.clear{
  cursor: pointer;
  position:relative;
  top:6px;
  left:55px;
  border-radius: 100%;
  padding: 5px;
  color:   #5f6368;
  &:hover{
    background: #d3d3d3;
  }

}


.item{
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  background: white;
}

.item-text{
  max-height: 20px;
  width:90%;
  text-overflow: ellipsis;
  overflow: hidden;

}

.item-shade{
  background:  $clrFocus;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }




