
<div (mouseenter)="showIcons=true" (mouseleave)="onToggleIcons()" class="note-card">
  <div class="title">{{title}}</div>
  <app-read-more>
    <div class="note">{{note}}</div>
  </app-read-more>


  <div *ngIf="showIcons" class="flat-div-note"  >
    <span class="material-icons icon-note" (click)="onOtherIconClick($event)">
      add_alert
    </span>
    <span class="material-icons icon-note" (click)="onOtherIconClick($event)">
      person_add_alt_1
    </span>
    <span class="material-icons icon-note" (click)="onOtherIconClick($event)">
      palette
    </span>
    <span class="material-icons icon-note" (click)="onOtherIconClick($event)">
      image
    </span>
    <span #more class="material-icons icon-note" (click)="onOptionsClick($event)">
      more_vert
    </span>

   </div>

   <div (clickOutside)="showModal=false" *ngIf="showModal" #optionsDiv id="options" class="modal" onClick="onOptionSelected($event)">
    <option (click)="onOptionsSelected($event)" class="option">Edit Note</option>
    <option (click)="onItemDelete($event)" class="option">Delete Note</option>

  </div>
</div>


