

<div class="container">
    <div class="input-card" >
     <input [(ngModel)]="title"
     autocomplete="off"
     id="titleInput"
     #titleInput
     *ngIf="showTitle==true"
     placeholder="Title"
     class="input-title"
     type="text">

    <textarea [(ngModel)]="note"
     id="noteInput"
     #noteInput
     autocomplete="off"
     (click)="showTitle=true"
     placeholder="Take a note..."
     class="input-note"
     (keyup)="autogrow()"
     type="text">

     </textarea>


     <div *ngIf="showTitle" class="flat-div">
      <span class="material-icons icon">
        add_alert
      </span>
      <span class="material-icons icon">
        person_add_alt_1
      </span>
      <span class="material-icons icon">
        palette
      </span>
      <span class="material-icons icon">
        image
      </span>
      <span class="material-icons icon">
        more_vert
      </span>
      <span class="icon-close">
        Close
      </span>
     </div>

    </div>


</div>


<div class="note-container">

  <app-note *ngFor="let post of postList" [title]="post.title" [note]="post.note"></app-note>
</div>

