.container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.note-container{
  margin-top: 40px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  max-width: 100%;
  margin-top: 20px;
  height: auto;
  overflow-wrap: break-word;
  flex-wrap: wrap;

}

.flat-div{
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

}




.icon{
 margin-right: 45px;
 font-size: 18px;
 color: grey;
}


.icon-close{
  font-size: 0.875rem;
  color: grey;
  font-weight: 600;
  font-family: 'Google Sans',Arial,sans-serif;
  margin-left: auto;
  margin-right: 20px;
}

.input-card{

  width: 40%;
  border: 1px solid #ccc;
  padding: 0.7rem;
  border-radius: 0.4rem 0.4rem;
  margin: 20px 20px auto;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

}

.input-note{
  position: relative;
  margin-top: 2px;
  height: 16px;
  resize: none;
  overflow: hidden;
  letter-spacing: .01428571em;
  font-family: 'Google Sans',Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;

  border:none;
  width:200px;
  font-size:16px;
  outline: none;
  overflow-wrap: break-word;

  &::placeholder{
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 0.95rem;
    font-style: bold;
    font-family: 'Google Sans',Arial,sans-serif;
    opacity: .74; }
}

.input-note-resizable{
  outline: none;
  letter-spacing: .01428571em;
  font-family: 'Google Sans',Arial,sans-serif;
  font-size: .875rem;
  font-weight: 550;
  color: gray;
  opacity: 0.80;
  overflow-wrap: break-word;
}

.input-note-resizable[contenteditable]:empty::before {
  content: "Take a note...";
  color: gray;
}

.title-note-resizable{
  outline: none;
  letter-spacing: .01428571em;
  font-family: 'Google Sans',Arial,sans-serif;
  font-size: .875rem;
  font-weight: 550;
  color: gray;
  opacity: 0.80;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.title-note-resizable[contenteditable]:empty::before {
  content: "Title";
  color: gray;
}
